.header__logo{
  display: inline-flex;
  align-items: center;
}

.header__logo .oride{
  display: none;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  background-color: rgba(255,255,255,.9);
  border: 2px solid var(--main-color);
  border-radius: 70px;
  margin: 16px;
  position: fixed;
  width: calc(100% - 32px);
  z-index: 100;
}

.header__menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: 'D-DINCondensed',sans-serif;
  font-weight: bold;
  font-size: 24px;
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--main-color);
  top: 0;
  right: -100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 90;
  overflow-y: auto;
}

.header__nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

.header__nav ul{
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.header__nav ul li,
.header__controls a {
  opacity: 0;
  transform: translateX(30px);
  fill: var(--text-color);
  transition: color 0.3s ease, fill 0.3s ease;

  &:hover {
    color: var(--main-color);
    fill: var(--main-color);
  }
}

.header__controls{
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header__controls a {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .header__logo .oride{
    display: flex;
  }
}

@media (min-width: 1024px) {
  .burger-menu {
    display: none;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
    padding: 8px 40px;
    background-color: rgba(255,255,255,.9);
    border: 2px solid var(--main-color);
    border-radius: 70px;
    position: fixed;
    width: calc(100% - 32px);
    z-index: 100;
  }

  .header__wrapper {
    position: static;
    background-color: transparent;
    border: none;
    width: fit-content;
    padding: 0;
    margin: 0;
  }

  .header__menu{
    position: static;
    flex-direction: row;
    gap: 16vw;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 90;
  }
  
  .header__nav{
    height: fit-content;
  }
  
  .header__nav ul{
    flex-direction: row;
    gap: 6vw;
  }
  
  .header__nav ul li,
  .header__controls a {
    opacity: 1;
    transform: translateX(0);
  }
  
  .header__controls{
    position: static;
    bottom: auto;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 2vw;
  }
}

/* HOME HERO */
.home-hero {
  width: 100dvw;
  height: 100dvh;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.9) 100%), url('../images/hero-home.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.home-hero__content {
  position: absolute;
  bottom: 1rem;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .home-hero__content {
    width: 60%;
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .home-hero__content {
    bottom: 2rem;
    padding: 0 64px;
  }
}

/* SNIPPET BUTTON */

.button {
  background-color: var(--main-color);
  color: #1d1d1b; /* sin variable para poder hacer theme:dark */
  padding: 10px 20px;
  margin: 1rem 0;
  border-radius: 1rem;
  font-family: 'D-DINCondensed';
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  display: flex;
  gap: .5rem;

  svg path {
      transition: transform 0.3s ease-in-out;
  }

  &:hover svg path {
      transform: translateX(6px);
  }
}

/* SNIPPET CLASE GRATIS */

.clase_gratis {
  position: absolute;
  width: 30vh;
  height: auto;
  top: 100px;
  right: 24px;
  z-index: 10;
}

.clase_gratis img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

@media (min-width: 1024px) {
  .clase_gratis {
    top: 120px;
    right: 40px;
    width: 45vh;
  }
}

/* SECTION INTRO + IMAGE */

.intro {
  text-wrap: balance;
  grid-column: span 4;
  margin: auto 0;
}

.subtitle {
  font-family: 'D-DINCondensed';
  font-size: 20px;
  text-transform: uppercase;
  color: var(--main-color);
  padding-bottom: .5rem;
}

.intro-img{
  grid-column: span 4;
}

@media (min-width: 1024px){
  .intro, .intro-img {
    grid-column: span 6;
  }
}

/* SECTION INTRO CENTERED */

.intro-center {
  text-align: center;
  text-wrap: balance;
  grid-column: span 4;
}

@media (min-width:768px){
  .intro-center {
    grid-column: 2 / span 6;
  }
}

@media (min-width:1024px){
  .intro-center {
    grid-column: 4 / span 6;
  }
}

/* SECTION PROGRAMAS */

.program_wrapper {
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} 

.program {
  grid-column: span 2;
  padding: 0 .5rem;
}

@media (min-width: 768px) {
  .program_wrapper {
    grid-column: span 8;
    grid-template-columns: repeat(8, 1fr);
  }

  .program {
    grid-column: span 4;
  }
}

@media (min-width: 1024px) {
  .program_wrapper {
    grid-column: span 12;
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
  }

  .program {
    width: 25%;
    grid-column: unset;
    transition: width 0.4s cubic-bezier(0.29, 1.31, 0.64, 1);
    height: auto;
  }

  /* Hover effects */
  .program_wrapper:hover .program {
    width: 20%;
  }

  .program_wrapper .program:hover {
    width: 40%;
  }
}

.ar-9-14 {
  aspect-ratio: 9 / 14;
}

@media (min-width: 1024px) {
  .ar-9-14 {
    aspect-ratio: unset;
    height: 500px;
  }
}

.ar-9-14 img {
  filter: grayscale(100%);
}

.image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: 10;
  transition: opacity 0.3s ease;
}

@media (min-width: 768px) {
  .image::after {
    border-radius: 1.5rem;
  }
}

.peques:hover::after {
  opacity: .2;
}

.infantil:hover::after {
  opacity: .2;
}

.junior:hover::after {
  opacity: .2;
}

.senior:hover::after {
  opacity: .2;
}

.peques::after {
  background-color: var(--peques);
  opacity: .4;
}

.peques p {
  color: var(--peques);
}

.infantil::after {
  background-color: var(--infantil);
  opacity: .4;
}

.infantil p {
  color: var(--infantil);
}

.junior::after {
  background-color: var(--junior);
  opacity: .4;
}

.junior p {
  color: var(--junior);
}

.senior::after {
  background-color: var(--senior);
  opacity: .4;
}

.senior p {
  color: var(--senior);
}

.program-heading {
  padding: 1rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* SECTION SHOP */

.shop_wrapper {
  grid-column: span 4;
}

@media (min-width: 768px) {
  .shop_wrapper {
    grid-column: span 8;
  }
}

@media (min-width: 1024px) {
  .shop_wrapper {
    grid-column: span 12;
  }
}

.shop-item {
  grid-column: span 4;
}

@media (min-width: 768px) {
  .shop-item {
    grid-column: span 4;
  }
}

@media (min-width: 1480px) {
  .shop-item {
    grid-column: span 3;
  }
}

.shop-item__image {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: block;
  position: relative;
  filter: grayscale(100%);
  transition: all 0.3s ease;

  button {
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
  }

  svg path {
    transition: all 0.3s ease-in-out;
  }

  &:hover svg path {
      transform: translateX(6px);
  }
}

.shop-item__image:hover {
  filter: grayscale(0%);

  button {
    opacity: 1;
  }
}

.shop-item__image .button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shop-item__info {
  padding: 1rem;
}