.header__logo{
  display:inline-flex
}

.header__logo .oride{
  display:none
}

.header__wrapper{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:8px 16px;
  background-color:rgba(255,255,255,.9);
  border-bottom:2px solid var(--main-color);
  position:fixed;
  width:100%;
  z-index:100
}

.header__menu{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:40px;
  text-align:center;
  text-transform:uppercase;
  font-family:'D-DINCondensed',sans-serif;
  font-weight:bold;
  font-size:20px;
  position:fixed;
  width:100dvw;
  height:100dvh;
  background-color:var(--main-color);
  top: 0;
  right: -100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 90;
  overflow-y: auto;
}

.header__nav{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%
}

.header__nav ul{
  display:flex;
  flex-direction:column;
  gap:16vw
}

.header__nav ul li,
.header__controls a {
  opacity: 0;
  transform: translateX(30px);
}

.header__controls{
  position:absolute;
  bottom:2rem;
  width:100%;
  display:flex;
  justify-content:center;
  gap:24px
}