/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

/*   FONTS   */

@font-face {
    font-family: 'D-DIN';
    src: url('../fonts/D-DIN.woff2') format('woff2'),
         url('../fonts/D-DIN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D-DIN';
    src: url('../fonts/D-DIN-Bold.woff2') format('woff2'),
         url('../fonts/D-DIN-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'D-DINCondensed';
    src: url('../fonts/D-DINCondensed.woff2') format('woff2'),
         url('../fonts/D-DINCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D-DINCondensed';
    src: url('../fonts/D-DINCondensed-Bold.woff2') format('woff2'),
         url('../fonts/D-DINCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*   GLOBALS   */
:root {
    --main-color: #E8C733;
    --text-color: #1d1d1b;
    --peques: #00B0F0;
    --infantil: #4d9e45;
    --junior: #D32F2F;
    --senior: #6A1B9A;
    --padding-x: 16px;
    --padding-y: 40px;
}

@media (min-width: 768px) {
    :root {
      --padding-x: 24px;
        --padding-y: 56px;
    }
  }
  
  @media (min-width: 1024px) {
    :root {
      --padding-x: 40px;
      --padding-y: 80px;
    }
  }

* {
    box-sizing: border-box;
}

::selection {
    background-color: var(--main-color);
    color: var(--text-color);
}

body {
    font-family: 'D-DIN', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}

.section {
    padding: var(--padding-y) var(--padding-x);
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'D-DINCondensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: .9;
    margin: 1rem 0;
}

h1 {
    font-size: 12vw;
}

@media (min-width: 768px) {
    h1 {
        font-size: 8vw;
    }
}