/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

/*   FONTS   */

@font-face {
    font-family: 'D-DIN';
    src: url('../fonts/D-DIN.woff2') format('woff2'),
         url('../fonts/D-DIN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D-DIN';
    src: url('../fonts/D-DIN-Bold.woff2') format('woff2'),
         url('../fonts/D-DIN-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'D-DINCondensed';
    src: url('../fonts/D-DINCondensed.woff2') format('woff2'),
         url('../fonts/D-DINCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D-DINCondensed';
    src: url('../fonts/D-DINCondensed-Bold.woff2') format('woff2'),
         url('../fonts/D-DINCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*   GLOBALS   */
:root {
    --main-color: #E8C733;
    --text-color: #1d1d1b;
    --white-color: white;
    --peques: #00B0F0;
    --infantil: #4d9e45;
    --junior: #D32F2F;
    --senior: #6A1B9A;
    --padding-x: 1rem;
    --padding-y: 2.5rem;
}

[data-theme="dark"] {
    --text-color: #ffffff;
    --white-color: #1d1d1b;
}

@media (min-width: 768px) {
    :root {
        --padding-x: 2.5rem;
        --padding-y: 3.5rem;
    }
}
  
@media (min-width: 1024px) {
    :root {
        --padding-x: 4rem;
        --padding-y: 5rem;
    }
}

* {
    box-sizing: border-box;
}

::selection {
    background-color: var(--main-color);
    color: #1d1d1b;
}

body {
    font-family: 'D-DIN', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--white-color);
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
    font-family: 'D-DINCondensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: .9;
    text-wrap: balance;
}

h1, h2 {
    padding: 0 0 1rem;
}

@media (min-width: 768px) {
    h1, h2 {
        padding: 0 0 2rem;
    }
}

h1 {
    font-size: 12vw;
}

@media (min-width: 768px) {
    h1 {
        font-size: clamp(2rem, 8vw, 8rem);
    }
}

h2 {
    font-size: 10vw;
}

@media (min-width: 768px) {
    h2 {
        font-size: clamp(1.5rem, 5vw, 5rem);
    }
}

h3 {
    font-size: 6vw;
}

@media (min-width: 768px) {
    h3 {
        font-size: 3vw;
    }
}

@media (min-width: 1024px) {
    h3 {
        font-size: clamp(1rem, 2vw, 2rem);
    }
}

/* LAYOUT */

.section {
    padding: var(--padding-y) var(--padding-x);
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
        gap: 1.5rem;
    }
}

.image {
    overflow: hidden;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.contain {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.fill {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .contain, .cover, .fill {
        border-radius: 1.5rem;
    }
}

/* SNIPPET BUTTON */

.button {
    background-color: var(--main-color);
    color: #1d1d1b; /* sin variable para poder hacer data-theme:dark */
    padding: 10px 20px;
    margin: 1rem auto;
    border-radius: 1rem;
    font-family: 'D-DINCondensed';
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    display: inline-flex;
    gap: .5rem;
    white-space: nowrap;
    grid-column: span 4;
  
    svg path {
        transition: transform 0.3s ease-in-out;
    }
  
    &:hover svg path {
        transform: translateX(6px);
    }
}

@media (min-width: 768px) {
   .button {
        grid-column: span 8;
    }
}

@media (min-width: 1024px) {
    .button {
        grid-column: span 12;
    }
}