/* PROGRAMAS */

.program_wrapper {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
} 
  
.program {
    grid-column: span 2;
    padding: 0 .5rem;
}
  
@media (min-width: 768px) {
    .program_wrapper {
      grid-column: span 8;
      grid-template-columns: repeat(8, 1fr);
    }
  
    .program {
      grid-column: span 3;
    }
  
    .peques, .junior {
      grid-column: 2 / span 3;
    }
}
  
@media (min-width: 1024px) {
    .program_wrapper {
      grid-column: span 12;
      width: 100%;
      display: flex;
    }
  
    .program {
      width: 25%;
      transition: width 0.4s cubic-bezier(0.29, 1.31, 0.64, 1);
      height: auto;
    }
  
    .program:hover {
      width: 40%;
    }
}
  
.peques:hover::after {
    opacity: .2;
}
  
.infantil:hover::after {
    opacity: .2;
}
  
.junior:hover::after {
    opacity: .2;
}
  
.senior:hover::after {
    opacity: .2;
}
  
.peques::after {
    background-color: var(--peques);
    opacity: .4;
}
  
.peques p {
    color: var(--peques);
}
  
.infantil::after {
    background-color: var(--infantil);
    opacity: .4;
}
  
.infantil p {
    color: var(--infantil);
}
  
.junior::after {
    background-color: var(--junior);
    opacity: .4;
}
  
.junior p {
    color: var(--junior);
}
  
.senior::after {
    background-color: var(--senior);
    opacity: .4;
}
  
.senior p {
    color: var(--senior);
}
  
.program-heading {
    padding: 1rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  