/* SHOP */
.shop_wrapper {
    grid-column: span 4;
}

@media (min-width: 768px) {
    .shop_wrapper {
        grid-column: span 8;
    }
}

@media (min-width: 1024px) {
    .shop_wrapper {
        grid-column: span 12;
    }
}

.shop-item {
    grid-column: span 2;
}

@media (min-width: 768px) {
    .shop-item {
        grid-column: span 4;
    }
}

@media (min-width: 1340px) {
    .shop-item {
        grid-column: span 3;
    }
}

.shop-item__image {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: block;
    position: relative;
    filter: grayscale(100%);
    transition: all 0.3s ease;

    button {
        opacity: 0.9;
        transition: opacity 0.3s ease-in-out;
    }

    svg path {
        transition: all 0.3s ease-in-out;
    }

    &:hover svg path {
        transform: translateX(6px);
    }
}

.shop-item__image:hover {
    filter: grayscale(0%);

    button {
        opacity: 1;
    }
}

.shop-item__image .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
}

.shop-item__image .button span {
    display: none;
}

@media (min-width: 768px) {
    .shop-item__image .button span {
        display: block;
    }
}

.shop-item__info {
    padding: 1rem;
}