/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   INCLUYE FONTS,
   GLOBALS,
   HEADINGS,
   LAYOUT,
   IMAGE FULL-WIDTH,
   SNIPPET BUTTON,
   INTRO-CENTERED, 
   HEADER,
   ERROR 404,
   FOOTER
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

/*   FONTS   */

@font-face {
    font-family: 'D-DIN';
    src: url('../assets/fonts/D-DIN.woff2') format('woff2'),
         url('../assets/fonts/D-DIN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D-DIN';
    src: url('../assets/fonts/D-DIN-Bold.woff2') format('woff2'),
         url('../assets/fonts/D-DIN-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'D-DINCondensed';
    src: url('../assets/fonts/D-DINCondensed.woff2') format('woff2'),
         url('../assets/fonts/D-DINCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D-DINCondensed';
    src: url('../assets/fonts/D-DINCondensed-Bold.woff2') format('woff2'),
         url('../assets/fonts/D-DINCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*   GLOBALS   */
:root {
    --main-color: #E8C733;
    --text-color: #1d1d1b;
    --white-color: white;
    --peques: #00B0F0;
    --infantil: #4d9e45;
    --junior: #D32F2F;
    --senior: #6A1B9A;
    --padding-x: 1rem;
    --padding-y: 2.5rem;
}

[data-theme="dark"] {
    --text-color: #ffffff;
    --white-color: #1d1d1b;
}

@media (min-width: 768px) {
    :root {
        --padding-x: 2.5rem;
        --padding-y: 3.5rem;
    }
}
  
@media (min-width: 1024px) {
    :root {
        --padding-x: 4rem;
        --padding-y: 5rem;
    }
}

* {
    box-sizing: border-box;
}

::selection {
    background-color: var(--main-color);
    color: #1d1d1b;
}

body {
    font-family: 'D-DIN', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--white-color);
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
    font-family: 'D-DINCondensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: .9;
    text-wrap: balance;
}

h1, h2 {
    padding: 0 0 1rem;
}

@media (min-width: 768px) {
    h1, h2 {
        padding: 0 0 2rem;
    }
}

h1 {
    font-size: 12vw;
}

@media (min-width: 768px) {
    h1 {
        font-size: clamp(2rem, 8vw, 8rem);
    }
}

h2 {
    font-size: 10vw;
}

@media (min-width: 768px) {
    h2 {
        font-size: clamp(1.5rem, 5vw, 5rem);
    }
}

h3 {
    font-size: 6vw;
}

@media (min-width: 768px) {
    h3 {
        font-size: 3vw;
    }
}

@media (min-width: 1024px) {
    h3 {
        font-size: clamp(1rem, 2vw, 2rem);
    }
}

/* LAYOUT */

.section {
    padding: var(--padding-y) var(--padding-x);
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

.rounded {
    border-radius: 0 0 4rem 4rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(12, 1fr);
        gap: 1.5rem;
    }
}

.image {
    overflow: hidden;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.ar-9-14 {
    aspect-ratio: 9 / 14;
}
  
@media (min-width: 1024px) {
.ar-9-14 {
    aspect-ratio: unset;
    height: 500px;
}
}
  
.ar-9-14 img {
    filter: grayscale(100%);
}
  
.image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    z-index: 10;
    transition: opacity 0.3s ease;
}
  
@media (min-width: 768px) {
    .image::after {
        border-radius: 1.5rem;
    }
}

/* IMAGE FULL-WIDTH */

.full-img {
    grid-column: span 4;
    aspect-ratio: 16 / 9;
}

@media (min-width: 768px) {
    .full-img {
        grid-column: span 8;
    }
}

@media (min-width: 1024px) {
    .full-img {
        grid-column: 2 / span 10;
    }
}

.contain {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.fill {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .contain, .cover, .fill {
        border-radius: 1.5rem;
    }
}

/* SNIPPET BUTTON */

.button {
    background-color: var(--main-color);
    color: #1d1d1b; /* sin variable para poder hacer data-theme:dark */
    padding: 10px 20px;
    margin: 1rem auto;
    border-radius: 1rem;
    font-family: 'D-DINCondensed';
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    display: inline-flex;
    gap: .5rem;
    white-space: nowrap;
    grid-column: span 4;
  
    svg path {
        transition: transform 0.3s ease-in-out;
    }
  
    &:hover svg path {
        transform: translateX(6px);
    }
}

@media (min-width: 768px) {
   .button {
        grid-column: span 8;
    }
}

@media (min-width: 1024px) {
    .button {
        grid-column: span 12;
    }
}

/* INTRO-CENTERED */

.intro-center {
    text-align: center;
    text-wrap: balance;
    grid-column: span 4;
}

.subtitle {
    font-family: 'D-DINCondensed';
    font-size: 20px;
    text-transform: uppercase;
    color: var(--main-color);
    padding-bottom: .5rem;
}

@media (min-width:768px){
    .intro-center {
        grid-column: 2 / span 6;
    }
}

@media (min-width:1024px){
    .intro-center {
        grid-column: 4 / span 6;
    }
}

/* HEADER */

.header__logo{
    display: inline-flex;
    align-items: center;
}
  
.header__logo .oride{
    display: none;
}
  
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    background-color: rgba(255,255,255,.9);
    border: 2px solid var(--main-color);
    border-radius: 70px;
    margin: 16px;
    position: fixed;
    width: calc(100% - 32px);
    z-index: 100;
}
  
.header__menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-family: 'D-DINCondensed',sans-serif;
    font-weight: bold;
    font-size: 24px;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--main-color);
    color: #1d1d1b;
    top: 0;
    right: -100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 90;
    overflow-y: auto;
}
  
.header__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}
  
.header__nav ul{
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
  
.header__nav ul li,
.header__controls a {
    opacity: 0;
    transform: translateX(30px);
    fill: #1d1d1b;
    transition: color 0.3s ease, fill 0.3s ease;
  
    &:hover {
      color: var(--main-color);
      fill: var(--main-color);
    }
}
  
.header__controls{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
  
.header__controls a {
    display: flex;
    align-items: center;
}
  
@media (min-width: 768px) {
    .header__logo .oride{
      display: flex;
    }
}
  
@media (min-width: 1024px) {
    .burger-menu {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px;
        padding: 8px 40px;
        background-color: rgba(255,255,255,.9);
        border: 2px solid var(--main-color);
        border-radius: 70px;
        position: fixed;
        width: calc(100% - 32px);
        z-index: 100;
    }

    .header__wrapper {
        position: static;
        background-color: transparent;
        border: none;
        width: fit-content;
        padding: 0;
        margin: 0;
    }

    .header__menu{
        position: static;
        flex-direction: row;
        gap: 16vw;
        font-size: 20px;
        width: fit-content;
        height: fit-content;
        background-color: transparent;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        z-index: 90;
    }

    .header__nav{
        height: fit-content;
    }

    .header__nav ul{
        flex-direction: row;
        gap: 6vw;
    }

    .header__nav ul li,
    .header__controls a {
        opacity: 1;
        transform: translateX(0);
    }

    .header__controls{
        position: static;
        bottom: auto;
        width: auto;
        display: flex;
        justify-content: center;
        gap: 2vw;
    }
}
  
/* ERROR 404 */
.e404 {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.e404 h1 {
    font-size: 40vw;
    cursor: pointer;
    padding-top: 4rem;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--main-color);
}
  
.footer ::selection {
    background-color: #1D1D1B;
    color: var(--main-color);
}
  
.footer svg {
    width: 60px;
    height: auto;
}
  
.footer a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #1D1D1B;
    font-family: 'D-DINCondensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border: 1px solid #1D1D1B;
    border-radius: 1rem;
    transition: all 0.3s ease;
}
  
.footer a:hover {
    background-color: #1D1D1B;
    color: var(--main-color);
}
  
.footer p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    color: #1D1D1B;
    font-size: 12px;
    white-space: nowrap;
}
  
@media (min-width: 768px) {
    .footer svg {
      width: 100px;
    }
  
    .footer p {
      font-size: 1rem;
    }
  
    footer {
      padding: 2rem 5rem !important;
    }
}